.card {
  padding: 14px;
  margin: 16px;
  background-color: #343a40;
  filter: drop-shadow(0px 6px 6px #111111);
  border-radius: 6px;
}

.card h3 {
  color: white;
  font-size: 26px;
}

.card p {
  color: gainsboro;
  margin-top: 10px;
  font-size: 18px;
}

#faq-window {
  margin-left: 40px;
  margin-right: 40px;
}