* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --first: #6c757d;
  --second: #495057;
  --third: #343a40;
  --fourth: #212529;
}

body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  display: flex;
  background-color: var(--fourth);
}

i {
  filter: drop-shadow(0px 3px 3px #111111);
}

#side-bar-menu {
  position: fixed;
  filter: drop-shadow(0px 6px 6px #111111);
  top: 0;
  left: 0;
  height: 100vh;
  width: 220px;
  background-color: var(--third);
}

.sidebar-item {
  font-size: 20px;
  margin-left: 20px;
  padding: 10px;
}

.sidebar-item a {
  display: block;
  color: #d8d8d8;
  text-decoration: none;
}

.sidebar-item a:hover {
  background-color: var(--second);
}

.sidebar-item-active a {
  color: cornflowerblue;
}

.sidebar-item-bottom-about a {
  position: absolute;
  margin-bottom: 20px;
  bottom: 0;
  font-size: 24px;
  color: orange;
}

.sidebar-item-bottom-questions a {
  position: absolute;
  margin-bottom: 80px;
  bottom: 0;
  font-size: 24px;
  color: orange;
}

#map-and-table-container {
  justify-content: space-evenly;
  height: 95vh;
  margin-bottom: 40px;
  filter: drop-shadow(0px 6px 6px #111111);
  position: relative;
  left: 3.5%;
  width: 95%;
  justify-content: center;
  display: flex;
}

#main-content {
  margin-left: 180px;
  flex: 1;
  padding: 20px;
}

#map {
  border-radius: 20px 0 0 20px;
  position: relative;
  width: 50%;
}

#crime-table {
  border-radius: 0 20px 20px 0;
  background-color: var(--third);
  padding: 0;
  width: 50%;
  overflow-y: auto;
}

#preview-container {
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

.preview-tile {
  background: gray;
  cursor: pointer;
  width: 5vw;
  height: 100%;
  display: inline-block;
  margin-right: 5px;
}

.preview-tile.active {
  border: 2px solid transparent;
  background: cornflowerblue;
}

.preview-tile img {
  width: 100%;
  height: 100%;
}

.preview-tile:hover {
  border: 2px solid transparent;
}

#crime-data-table th {
  font-weight: bolder;
  background-color: var(--third);
  color: white;
  padding: 10px;
  text-align: center;
}

#crime-data-table td {
  color: white;
  padding-left: 8px;
}

#crime-data-table tbody tr:nth-child(even) {
  background-color: var(--second);
}

#crime-data-table tbody tr:hover {
  background-color: var(--fourth);
  cursor: pointer;
}

#percentage-and-scale-bar {
  text-align: center;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  filter: drop-shadow(0px 6px 6px #111111);
  background-color: var(--third);
  position: relative;
  width: 50%;
  justify-content: space-evenly;
  left: 25%;
  display: flex;
  margin-bottom: 40px;
}

.percentage-and-scale-bar-title {
  font-size: 0.8svi;
  color: white;
}

.percentage-and-scale-bar-value {
  font-weight: bold;
  font-size: 1.4svi;
  color: cornflowerblue;
  animation: count-up 5s linear;
}

@keyframes count-up {
  from {
    content: "0";
  }

  to {
    content: "100";
  }
}

.percentage-and-scale-bar-difference {
  font-size: 1svi;
}

.seperator {
  border-left: 2px solid rgb(231, 231, 231);
  border-radius: 10px;
}

#crime-scatter-plot-and-timeline-tables {
  padding-bottom: 20px;
  background-color: var(--third);
  border-radius: 15px;
  position: relative;
  filter: drop-shadow(0px 6px 6px #111111);
  justify-content: space-evenly;
  display: flex;
  width: 90%;
  height: 40vh;
  left: 2.5%;
  overflow-y: hidden;
}

#crime-table-occourance {
  margin-top: 20px;
  margin-left: 50px;
  text-align: left;
  overflow-y: auto;
  width: 20vw;
}

#crime-scatter-plot {
  width: 40%;
}

#crime-timeline-table {
  width: 40%;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #313131;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}